<div class='p-3 text-center bg-dark text-white wrapper'>
  <div class="how-to-use-inner-text">
    <h1>Whisdom Whistleの使い方</h1></br>
    <h3>Whisdom Whistleは、エンジニアが日々学習した内容を記録することができます。</br>
    その記録をもとに最適な復習タイミングを提案し通知します。</br>
     さらに、ユーザー自身が作成した小テストを未来の自分に対して実施することが可能です。</br>
    これにより、学習の定着を助け、エンジニアのスキル向上をサポートします。
    </h3>
    </br>
    <h2>1. ユーザー登録する。</h2>
    <h3>まずはユーザー登録し、ログインしましょう。</br>
    ニックネーム、メールアドレス、パスワードのみで簡単に登録できます。
    </h3>
    <%= link_to("会員登録する", new_user_path, class: "btn btn-secondary") %> </br></br>

    </br>
    <h2>2. 学習を記録する。</h2>
    <h3>「学習記録作成」から
      学習した内容を記録しましょう。</br>
      この際、内容を思い出すためのQuizを作成しましょう。</br>
      このクイズは後日通知され、記憶を呼び起こすのに役立ちます。
    </h3>
    </br>
    <h2>3. 復習する。</h2>
    <h3>
      後日登録したメールアドレスへQuizに回答するためのURLが送信されます。</br>
      回答後、内容を覚えていれば「はい」、もう一度復習したければ「いいえ」
      を押してください。ステータスが「完了」になると通知はされなくなります。</br>
      「Quiz一覧」からお好きなタイミングで復習することもできます。
    </h3>
  </div>
</div>
