<div class='p-3 text-center bg-dark text-white home-wrapper'>
  <div class="top-inner-text">
    <h1>
      WisdomWhistleとは<br><br>
      エンジニアが日々学習した内容を記録し、<br>
      その記録をもとに最適な復習タイミングを提案します。<br>
      これにより学習の定着を助け、<br>
      エンジニアのスキル向上をサポートします。
    </h1>
    <%= link_to("会員登録する", "#", class: "btn btn-primary") %>
  </div>
</div>
