<div class="wrapper">
<div class="container pt-3">
  <!-- 通知一覧 -->
  <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th class="header1">学習記録タイトル</th>
      <th class="header2">前回復習した日付</th>
    </tr>
  </thead>
  <tbody>
    <% if @notifications.present? %>
      <%= render partial: 'notification', collection: @notifications %>
    <% else %>
      <div class="mb-3">通知はありません</div>
    <% end %>
  </tbody>
</div>
