<footer id='footer' class='fixed-bottom py-3 bg-dark text-center '>
  <div class='container'>
    <div class='copyright'>
      <ul class="navbar-nav d-flex flex-row justify-content-center">
        <li class="nav-link mr-3">
          <%= link_to '利用規約', terms_of_service_path ,class: 'text-white nav-link' %>
        </li>
        <li class="nav-link mx-3">
          <%= link_to 'お問い合わせ', '#' ,class: 'text-white nav-link' %>
        </li>
        <li class="nav-link ml-3">
          <%= link_to 'プライバシーポリシー', privacy_policy_path ,class: 'text-white nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</footer>
