.wrapper {
  background: rgb(41, 41, 41);
  margin-bottom: 88px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  }

.alert{
  margin: 0;
}

.calendar-wrapper {
  background: #111111;
  color: white;
  }

body{
  background-color: rgb(41, 41, 41);
}

.dashboard{
  margin: 100px;
}

.chartkick .x-title {
  fill: white !important;
}