  .how-to-use-inner-text {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left; /* 左揃えにする */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  